* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: Rubik;
}
.container {
  width: 80%;
  margin: auto;
}
.chat-app {
  position: relative;
}
.flex-chat {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.color {
  position: absolute;
  top: -40%;
  left: -11%;
  width: 37%;
  height: 125vh;
  background: rgb(233, 66, 255);
  background: linear-gradient(
    180deg,
    rgba(233, 66, 255, 1) 5%,
    rgba(136, 56, 255, 1) 100%
  );
  border-radius: 999px;
}
.title {
  width: 30%;
  z-index: 3;
}
.title-h2 {
  color: hsl(271, 36%, 24%);
  font-size: 30px;
  margin-bottom: 20px;
}
.title-p {
  color: hsl(270, 7%, 64%);
  line-height: 1.4;
}
.mobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  z-index: 3;
  width: 20%;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 20px 20px 1px hsl(206, 6%, 79%);
  padding: 10px;
}
.mobile-info {
  background-color: hsl(270, 20%, 96%);
  border-radius: 20px;
  padding-bottom: 10px;
}
.profile {
  width: 100%;
  border-radius: 20px 20px 5px 5px;
  background: linear-gradient(
    270deg,
    rgba(233, 66, 255, 1) 5%,
    rgba(136, 56, 255, 1) 100%
  );
  padding: 25px 0 10px;
}
.upper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 50%;
  height: 30px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
}

.profile-flex {
  margin-top: 10px;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-flex i {
  color: #fff;
  font-size: 14px;
}
.profile-content {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image {
  width: 12%;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: #fff 2px solid;
}
.profile-flex-info-name {
  color: #fff;
  text-transform: capitalize;
  font-size: 12px;
}
.profile-flex-info-status {
  display: block;
  font-size: 10px;
  color: hsl(276, 100%, 81%);
}
.chat-left {
  width: 50%;
  border-radius: 15px 15px 15px 2px;
  color: hsl(276, 55%, 52%);
  background-color: rgba(136, 56, 255, 0.078);
  padding: 5px 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 8px;
}
.chat-left:nth-child(1) {
  margin-top: 10px;
}
.chat-left:nth-child(2) {
  margin-bottom: 15px;
}
.chat-img {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.img-border {
  width: 17%;
}
.img-border:nth-child(3) {
  margin-right: 10px;
}
.chat-img img {
  width: 80%;
  border-radius: 10px;
}
.flex-right-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-top: 5px;
}
.chat-right {
  width: 50%;
  border-radius: 15px 15px 2px 15px;
  color: hsl(271, 15%, 43%);
  background-color: #fff;
  padding: 5px;
  margin-right: 10px;
  font-size: 8px;
}
.chat-right:nth-child(2) {
  width: 32%;
}
.chat-left2 {
  width: 53%;
  margin-top: 15px;
}
.radio {
  position: relative;
  width: 60%;
  background: linear-gradient(
    90deg,
    rgba(233, 66, 255, 1) 5%,
    rgba(136, 56, 255, 1) 100%
  );
  border-radius: 12px 12px 12px 5px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
input[type="radio"] {
  display: none;
}
.radio label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 11px;
  left: 11px;
  background-color: transparent;
  border-radius: 50%;
  outline: 2px solid hsl(289, 100%, 72%);
}
.radio label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(206, 6%, 79%);
  margin-left: 25px;
}
.txt {
  font-size: 8px;
}
.price {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}
.typing {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  width: 90%;
  border-radius: 25px;
  background-color: #fff;
  border: 0;
  margin: auto;
  margin-top: 15px;
}
.typing input {
  border: 0;
  width: 70%;
  border-radius: 25px;
  padding: 0 10px;
}
.typing button {
  width: 20px;
  height: 20px;
  background-color: hsl(271, 36%, 24%);
  border-radius: 50%;
  color: #fff;
  border: 0;
}
input::placeholder {
  color: hsl(206, 6%, 79%);
}
.color-2 {
  position: absolute;
  top: 40%;
  right: 0;
  transform: translatey(-26%);
  width: 20%;
  height: 80vh;
  background: rgb(233, 66, 255);
  background: linear-gradient(
    180deg,
    rgba(233, 66, 255, 0.06) 5%,
    rgba(136, 56, 255, 0.06) 100%
  );
  border-radius: 400px 0 0 0;
}
@media (min-width: 1024px) and (max-width: 1439px) {
  .mobile {
    width: 30%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .flex-chat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding-bottom: 50px;
  }
  .mobile {
    width: 50%;
  }
  .profile {
    font-size: 10px;
    padding: 20px 0 5px 0;
  }
  .image {
    width: 15%;
  }
  .profile-flex {
    gap: 10px;
  }
  .profile-flex-info {
    width: 60%;
  }
  .profile-flex-info-name {
    font-size: 14px;
  }
  .profile-flex-info-status {
    font-size: 12px;
  }
  .profile-flex i {
    font-size: 12px;
  }
  .chat-left {
    font-size: 10px;
  }
  .chat-right {
    font-size: 10px;
  }
  .radio {
    width: 70%;
  }
  .radio label span {
    font-size: 12px;
  }
  .price {
    font-size: 14px;
    margin-right: 5px;
  }
  .radio label::after {
    width: 10px;
    height: 10px;
  }
  .typing {
    padding: 5px;
  }
  .title {
    width: 50%;
    text-align: center;
  }
  .title-h2 {
    font-size: 30px;
  }
  .color {
    top: -30%;
    width: 50%;
  }
  .color-2 {
    top: 60%;
    width: 50%;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .chat-app {
    padding-bottom: 50px;
  }
  .flex-chat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .mobile-info {
    padding-bottom: 20px;
  }
  .mobile {
    width: 60%;
  }
  .profile {
    font-size: 10px;
    padding: 20px 0 5px 0;
  }
  .image {
    width: 15%;
  }
  .profile-flex {
    gap: 10px;
  }
  .profile-flex-info {
    width: 60%;
  }
  .profile-flex-info-name {
    font-size: 12px;
  }
  .profile-flex-info-status {
    font-size: 10px;
  }
  .profile-flex i {
    font-size: 10px;
  }
  .chat-left {
    font-size: 8px;
  }
  .chat-right {
    font-size: 8px;
  }
  .radio {
    width: 70%;
  }
  .radio label {
    font-size: 10px;
  }
  .price {
    font-size: 12px;
    margin-right: 5px;
  }
  .radio label::after {
    width: 10px;
    height: 10px;
  }
  .typing {
    padding: 5px;
  }
  .title {
    width: 89%;
    text-align: center;
  }
  .title-h2 {
    font-size: 25px;
  }
  .color {
    top: -35%;
    width: 70%;
    border-radius: 0 0 1000px 0;
  }
  .color-2 {
    top: 65%;
    width: 50%;
    height: 70vh;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .chat-app {
    padding-bottom: 50px;
  }
  .flex-chat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .mobile-info {
    padding-bottom: 20px;
  }
  .mobile {
    width: 70%;
  }
  .profile {
    font-size: 8px;
    padding: 20px 0 5px 0;
  }
  .image {
    width: 20%;
  }
  .profile-flex {
    gap: 10px;
  }
  .profile-flex-info {
    width: 60%;
  }
  .profile-flex-info-name {
    font-size: 10px;
  }
  .profile-flex-info-status {
    font-size: 6px;
  }
  .profile-flex i {
    font-size: 8px;
  }
  .chat-left {
    font-size: 6px;
  }
  .chat-right {
    font-size: 6px;
  }
  .radio {
    width: 70%;
  }
  .radio label {
    font-size: 8px;
  }
  .price {
    font-size: 10px;
    margin-right: 5px;
  }
  .radio label::after {
    width: 10px;
    height: 10px;
  }
  .typing {
    padding: 5px;
  }
  .title {
    width: 89%;
    text-align: center;
  }
  .title-h2 {
    font-size: 25px;
  }
  .color {
    top: -35%;
    width: 70%;
    border-radius: 0 0 999px 0;
  }
  .color-2 {
    top: 60%;
    width: 50%;
    height: 70vh;
  }
}
